In [11]:
# Q1 
#Write a program to subtract two Complex numbers in Python

# program to subtract two Complex numbers in Python
print("Enter 2 number for Complex 1")
a= int(input ("Enter the number 1:"))
b= int(input ("Enter the number 2:"))
Complexno1=complex(a,b)
print("Complex number 1",Complexno1)


print("Enter 2 number for Complex 2")
C= int(input ("Enter the number 1:"))
D= int(input ("Enter the number 2:"))
Complexno2= complex(C,D)
print("Complex number 2",Complexno2)



Complexsum = Complexno1-Complexno2
print("The Subtraction  of 2 complx number are",Complexsum)

Enter 2 number for Complex 1
Enter the number 1:500
Enter the number 2:50
Complex number 1 (500+50j)
Enter 2 number for Complex 2
Enter the number 1:250
Enter the number 2:1
Complex number 2 (250+1j)
The Subtraction  of 2 complx number are (250+49j)

In [12]:
  #Q2
#Write a program to find the fourth root of a number

#a program to find the fourth root of a number.

a= int(input("Enter the number : "))

root= a**(1/4)
print("The forth root of ",a, "is", root)

Enter the number : 625
The forth root of  625 is 5.0

In [13]:
#Q3
#Write a program to swap two numbers in Python with the help of a temporary variable.

#program to swap two numbers in Python with the help of a temporary variable
a= int(input ("Enter the number 1:"))
b= int(input ("Enter the number 2:"))
temp = a
a= b
b=temp
print(" The number after swap are")
print("number1",a)
print("number2",b)

Enter the number 1:900
Enter the number 2:255
 The number after swap are
number1 255
number2 900

In [14]:
#Q4
#Write a program to swap two numbers in Python without using a temporary variable

a= int(input ("Enter the number 1:"))
b= int(input ("Enter the number 2:"))
a=a+b
#print("a",a)
#print("b",b)
b=a-b
#print("a",a)
#print("b",b)
a=a-b
print(" The number after swap are")
print("1 number",a)
print("2 number",b)

Enter the number 1:985
Enter the number 2:589
 The number after swap are
1 number 589
2 number 985

In [27]:
#Q5
#Write a program to convert Fahrenheit to kelvin and celsius both.

#a program to convert Fahrenheit to kelvin and celsius both.

print("Please select option -\n")
print("1. celsius  to fahrenheit \n" )
print("2. fahrenheit to celsius \n" )
print("3. celsius to kelvin\n" )
print("4. fahrenheit to kelvin\n")
print("5. kelvin to celsius\n")
print("6. kelvin to fahrenheit\n") 
  
  
# Take input from the user  
select = int(input("Select operations form 1, 2, 3, 4, 5, 6:")) 
  
if select == 1: 
    print(" To convert celsius to fahrenheit ") 
    celsius = float(input("Enter temperature in celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print("celsius is:",celsius,"fahrenheit is ",fahrenheit )

elif select == 2: 
    print(" To convert fahrenheit to celsius ") 
    fahrenheit = float(input("Enter temperature in fahrenheit: "))
    celsius = (fahrenheit - 32) * 5/9
    print("fahrenheit is ",fahrenheit,"celsius is:",celsius,) 

elif select == 3: 
    print(" To convert celsius to kelvin ") 
    celsius = float(input("Enter temperature in celsius: "))
    Kelvin = (celsius + 273.15)
    print("celsius is:",celsius,"Kelvin is ",Kelvin )
elif select == 4: 
    print(" To convert fahrenheit to kelvin ") 
    fahrenheit = float(input("Enter temperature in fahrenheit: "))
    kelvin = (fahrenheit - 32) *5/9+273.15
    print("fahrenheit is:",fahrenheit,"kelvin is ",kelvin ) 
elif select == 5: 
    print(" To convert kelvin to celsius ") 
    kelvin = float(input("Enter temperature in celsius: "))
    celsius = (kelvin -273.15)
    print("kelvin is:",kelvin,"celsius is ",celsius ) 


elif select == 6: 
    print(" To convert kelvin to fahrenheit ") 
    celsius = float(input("Enter temperature in celsius: "))
    fahrenheit = (celsius -273.15)* 9/5+32
    print("celsius is:",celsius,"fahrenheit is ",fahrenheit ) 

else: 
    print("Invalid input")

Please select option -

1. celsius  to fahrenheit

2. fahrenheit to celsius

3. celsius to kelvin

4. fahrenheit to kelvin

5. kelvin to celsius

6. kelvin to fahrenheit

Select operations form 1, 2, 3, 4, 5, 6:6
 To convert kelvin to fahrenheit
Enter temperature in celsius: 100
celsius is: 100.0 fahrenheit is  -279.66999999999996

In [69]:
#Q6
#Write a program to demonstrate all the available data types in Python. Hint: Use type() function.
#int
Ac=5852
print("Ac=",Ac )
print(type(Ac))

c= 45+64#add 
d= 48-25#sub
e= 25*5#multi
f=45/2#divide

#float
Ab= 5.256
print("Ac=",Ab)
print(type(Ab))

#complex
a = 1+2j
print("Ad",Ad )

#string
o= "hello world "
print("o+[4] = ", o[4])


#list

Ae= [1,2,23548,'hello world']
print("Ae= ",Ae )
print(type(Ae))
print("Ae[2] = ", Ae[2]) # slicing

#tuple
g = (5,'program', 1+3j)
print("g[0:3] = ", g[0:3])


#set
u = (['my', 'name', 'is ', 'parth', 'dhulla'])
print(u)

#Dictionary
dd = {1:'value',2:'key'}
print(type(dd))

# Conversion 
#float to int
int(45.7)

#int to float
float(67)

Ac= 5852
<class 'int'>
Ac= 5.256
<class 'float'>
Ad (589+6j)
o+[4] =  o
Ae=  [1, 2, 23548, 'hello world']
<class 'list'>
Ae[2] =  23548
g[0:3] =  (5, 'program', (1+3j))
['my', 'name', 'is ', 'parth', 'dhulla']
<class 'dict'>

67.0