In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv('BreadBasket_DMS - Arindam Dev.csv')

In [3]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (50.3.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.17.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.1->mlxtend) (1.15.0)

In [4]:
data = data[~data['Item'].str.contains('NONE',na=False)]

In [5]:
data=data.drop('Time',axis=1)
data=data.drop('Date',axis=1)
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[20507 rows x 3 columns]

In [6]:
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[20507 rows x 3 columns]

In [7]:
data.head(2)

   id  Transaction          Item
0   1            1         Bread
1   2            2  Scandinavian

In [8]:
data['Item'].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'Tartine',
       'Basket', 'Mineral water', 'Farm House', 'Fudge', 'Juice',
       "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

In [9]:
data.nunique()

id             20507
Transaction     9465
Item              94
dtype: int64

In [10]:
data.set_index("id")

       Transaction           Item
id
1                1          Bread
2                2   Scandinavian
3                2   Scandinavian
4                3  Hot chocolate
5                3            Jam
...            ...            ...
21289         9682         Coffee
21290         9682            Tea
21291         9683         Coffee
21292         9683         Pastry
21293         9684      Smoothies

[20507 rows x 2 columns]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20507 entries, 0 to 21292
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20507 non-null  int64
 1   Transaction  20507 non-null  int64
 2   Item         20507 non-null  object
dtypes: int64(2), object(1)
memory usage: 640.8+ KB

In [12]:
data[data['Transaction']<0].head()

Empty DataFrame
Columns: [id, Transaction, Item]
Index: []

In [13]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [14]:
data.head()

   id  Transaction           Item
0   1            1          Bread
1   2            2   Scandinavian
2   3            2   Scandinavian
3   4            3  Hot chocolate
4   5            3            Jam

In [15]:
data.describe()

                 id   Transaction
count  20507.000000  20507.000000
mean   10701.437119   4976.202370
std     6165.272044   2796.203001
min        1.000000      1.000000
25%     5333.500000   2552.000000
50%    10801.000000   5137.000000
75%    16035.500000   7357.000000
max    21293.000000   9684.000000

In [16]:
groupby= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',ascending=False)

In [17]:
groupby.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Juice                  369
Alfajores              369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193
Coke                   185

In [18]:
data.head(2)

   id  Transaction          Item
0   1            1         Bread
1   2            2  Scandinavian

In [19]:
data.head(10)

   id  Transaction           Item
0   1            1          Bread
1   2            2   Scandinavian
2   3            2   Scandinavian
3   4            3  Hot chocolate
4   5            3            Jam
5   6            3        Cookies
6   7            4         Muffin
7   8            5         Coffee
8   9            5         Pastry
9  10            5          Bread

In [20]:
groupby1= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',axis=0,ascending=False)
groupby1.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Juice                  369
Alfajores              369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193
Coke                   185

In [21]:
data['Item'].describe()

count      20507
unique        94
top       Coffee
freq        5471
Name: Item, dtype: object

In [22]:
data['Item'].value_counts().head(10)

Coffee           5471
Bread            3325
Tea              1435
Cake             1025
Pastry            856
Sandwich          771
Medialuna         616
Hot chocolate     590
Cookies           540
Brownie           379
Name: Item, dtype: int64

In [23]:
data[data['Item']=='Coffee']

          id  Transaction    Item
7          8            5  Coffee
15        16            7  Coffee
28        29           12  Coffee
34        35           13  Coffee
44        45           16  Coffee
...      ...          ...     ...
21269  21270         9673  Coffee
21271  21272         9674  Coffee
21276  21277         9678  Coffee
21288  21289         9682  Coffee
21290  21291         9683  Coffee

[5471 rows x 3 columns]

In [24]:
print(len(data[data['Item']=='Coffee']))

5471

In [25]:
data['Transaction'].value_counts().head(10)

6279    11
6716    11
6412    11
6474    11
6045    10
9447    10
9534     9
8835     9
3673     9
6290     9
Name: Transaction, dtype: int64

In [26]:
groupby1= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',axis=0,ascending=False)
groupby1.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Juice                  369
Alfajores              369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193
Coke                   185

In [27]:

groupby1= data[['Transaction','Item']].groupby('Transaction').count().sort_values('Item',axis=0,ascending=False)
groupby1.tail(20)

             Item
Transaction
4522            1
4485            1
4521            1
4517            1
4515            1
4514            1
4511            1
4507            1
4505            1
4504            1
4502            1
4499            1
4498            1
4497            1
4496            1
4495            1
4494            1
4492            1
4491            1
9684            1

In [28]:
data.tail(10)

          id  Transaction              Item
21283  21284         9681               Tea
21284  21285         9681    Spanish Brunch
21285  21286         9681  Christmas common
21286  21287         9682            Muffin
21287  21288         9682      Tacos/Fajita
21288  21289         9682            Coffee
21289  21290         9682               Tea
21290  21291         9683            Coffee
21291  21292         9683            Pastry
21292  21293         9684         Smoothies

In [29]:
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[20507 rows x 3 columns]

basket

In [30]:
# basket = data.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)
# basket


# basket = data.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)


basket= data.groupby(['Transaction','Item'])['id'].sum().unstack().fillna(0)
basket

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
1                   0.0  ...               0.0
2                   0.0  ...               0.0
3                   0.0  ...               0.0
4                   0.0  ...               0.0
5                   0.0  ...               0.0
...                 ...  ...               ...
9680                0.0  ...               0.0
9681                0.0  ...               0.0
9682                0.0  ...               0.0
9683                0.0  ...               0.0
9684                0.0  ...               0.0

[9465 rows x 94 columns]

In [31]:
basket.tail(10)

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
9674                0.0  ...               0.0
9676                0.0  ...               0.0
9677                0.0  ...               0.0
9678                0.0  ...               0.0
9679                0.0  ...               0.0
9680                0.0  ...               0.0
9681                0.0  ...               0.0
9682                0.0  ...               0.0
9683                0.0  ...               0.0
9684                0.0  ...               0.0

[10 rows x 94 columns]

In [32]:

basket=basket.applymap(lambda x:1 if x>0 else 0)

In [33]:

basket.tail(10)

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
9674                  0  ...                 0
9676                  0  ...                 0
9677                  0  ...                 0
9678                  0  ...                 0
9679                  0  ...                 0
9680                  0  ...                 0
9681                  0  ...                 0
9682                  0  ...                 0
9683                  0  ...                 0
9684                  0  ...                 0

[10 rows x 94 columns]

In [61]:
popular_sets = apriori(basket, min_support=0.01, use_colnames=True)

In [62]:
popular_sets

     support                 itemsets
0   0.036344              (Alfajores)
1   0.016059               (Baguette)
2   0.327205                  (Bread)
3   0.040042                (Brownie)
4   0.103856                   (Cake)
..       ...                      ...
56  0.023666          (Coffee, Toast)
57  0.014369          (Tea, Sandwich)
58  0.010037    (Bread, Coffee, Cake)
59  0.011199  (Pastry, Bread, Coffee)
60  0.010037      (Tea, Coffee, Cake)

[61 rows x 2 columns]

In [63]:
popular_sets.tail(10)

     support                  itemsets
51  0.038246        (Coffee, Sandwich)
52  0.018067           (Scone, Coffee)
53  0.015848            (Coffee, Soup)
54  0.010882  (Spanish Brunch, Coffee)
55  0.049868             (Tea, Coffee)
56  0.023666           (Coffee, Toast)
57  0.014369           (Tea, Sandwich)
58  0.010037     (Bread, Coffee, Cake)
59  0.011199   (Pastry, Bread, Coffee)
60  0.010037       (Tea, Coffee, Cake)

In [64]:
rules = association_rules(popular_sets,metric='lift',min_threshold=1)

In [65]:

rules.tail(10)

        antecedents      consequents  ...  leverage  conviction
32            (Tea)       (Sandwich)  ...  0.004122    1.032134
33       (Sandwich)            (Tea)  ...  0.004122    1.071712
34  (Bread, Coffee)           (Cake)  ...  0.000688    1.008606
35           (Cake)  (Bread, Coffee)  ...  0.000688    1.007336
36  (Bread, Coffee)         (Pastry)  ...  0.003448    1.043749
37         (Pastry)  (Bread, Coffee)  ...  0.003448    1.046033
38    (Tea, Coffee)           (Cake)  ...  0.004858    1.121962
39   (Coffee, Cake)            (Tea)  ...  0.002231    1.049923
40            (Tea)   (Coffee, Cake)  ...  0.002231    1.016827
41           (Cake)    (Tea, Coffee)  ...  0.004858    1.051779

[10 rows x 9 columns]

In [66]:
rules.tail(50)

         antecedents       consequents  ...  leverage  conviction
0        (Alfajores)          (Coffee)  ...  0.002264    1.135648
1           (Coffee)       (Alfajores)  ...  0.002264    1.004936
2           (Pastry)           (Bread)  ...  0.000985    1.017305
3            (Bread)          (Pastry)  ...  0.000985    1.003306
4          (Brownie)          (Coffee)  ...  0.000495    1.024293
5           (Coffee)         (Brownie)  ...  0.000495    1.001080
6           (Coffee)            (Cake)  ...  0.005044    1.011905
7             (Cake)          (Coffee)  ...  0.005044    1.102664
8    (Hot chocolate)            (Cake)  ...  0.005354    1.114125
9             (Cake)   (Hot chocolate)  ...  0.005354    1.057910
10             (Tea)            (Cake)  ...  0.008959    1.075372
11            (Cake)             (Tea)  ...  0.008959    1.111865
12         (Cookies)          (Coffee)  ...  0.002179    1.083174
13          (Coffee)         (Cookies)  ...  0.002179    1.004841
14          (Coffee)   (Hot chocolate)  ...  0.001683    1.003749
15   (Hot chocolate)          (Coffee)  ...  0.001683    1.058553
16           (Juice)          (Coffee)  ...  0.002154    1.119919
17          (Coffee)           (Juice)  ...  0.002154    1.004705
18          (Coffee)       (Medialuna)  ...  0.005614    1.012667
19       (Medialuna)          (Coffee)  ...  0.005614    1.210871
20          (Coffee)          (Muffin)  ...  0.000408    1.000888
21          (Muffin)          (Coffee)  ...  0.000408    1.020777
22          (Pastry)          (Coffee)  ...  0.006351    1.164682
23          (Coffee)          (Pastry)  ...  0.006351    1.014740
24          (Coffee)        (Sandwich)  ...  0.003877    1.008807
25        (Sandwich)          (Coffee)  ...  0.003877    1.115384
26           (Scone)          (Coffee)  ...  0.001539    1.093366
27          (Coffee)           (Scone)  ...  0.001539    1.003343
28  (Spanish Brunch)          (Coffee)  ...  0.002189    1.300235
29          (Coffee)  (Spanish Brunch)  ...  0.002189    1.004682
30          (Coffee)           (Toast)  ...  0.007593    1.016699
31           (Toast)          (Coffee)  ...  0.007593    1.764582
32             (Tea)        (Sandwich)  ...  0.004122    1.032134
33        (Sandwich)             (Tea)  ...  0.004122    1.071712
34   (Bread, Coffee)            (Cake)  ...  0.000688    1.008606
35            (Cake)   (Bread, Coffee)  ...  0.000688    1.007336
36   (Bread, Coffee)          (Pastry)  ...  0.003448    1.043749
37          (Pastry)   (Bread, Coffee)  ...  0.003448    1.046033
38     (Tea, Coffee)            (Cake)  ...  0.004858    1.121962
39    (Coffee, Cake)             (Tea)  ...  0.002231    1.049923
40             (Tea)    (Coffee, Cake)  ...  0.002231    1.016827
41            (Cake)     (Tea, Coffee)  ...  0.004858    1.051779

[42 rows x 9 columns]

In [69]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.5) ]

         antecedents consequents  ...  leverage  conviction
0        (Alfajores)    (Coffee)  ...  0.002264    1.135648
7             (Cake)    (Coffee)  ...  0.005044    1.102664
12         (Cookies)    (Coffee)  ...  0.002179    1.083174
15   (Hot chocolate)    (Coffee)  ...  0.001683    1.058553
16           (Juice)    (Coffee)  ...  0.002154    1.119919
19       (Medialuna)    (Coffee)  ...  0.005614    1.210871
22          (Pastry)    (Coffee)  ...  0.006351    1.164682
25        (Sandwich)    (Coffee)  ...  0.003877    1.115384
26           (Scone)    (Coffee)  ...  0.001539    1.093366
28  (Spanish Brunch)    (Coffee)  ...  0.002189    1.300235
31           (Toast)    (Coffee)  ...  0.007593    1.764582

[11 rows x 9 columns]

In [70]:
rules['antecedents'][3]

frozenset({'Bread'})

In [71]:
basket['Coffee'].sum()

4528

In [72]:
basket['Alfajores'].sum()

344