Q3

#A simple set#

In [ ]:
mno= {"hello","letsupgrade","world"}
print(mno)
print(type(mno))

{'hello', 'letsupgrade', 'world'}
<class 'set'>

#Add

In [ ]:
mno.add("Thank")
#to add multi
print(mno)

{'hello', 'letsupgrade', 'world', 'Thank'}

In [ ]:

mno.update(["my", "name", "is", "so","much","parth"])

print(mno)

{'name', 'parth', 'is', 'world', 'Thank', 'hello', 'letsupgrade', 'much', 'so', 'my'}

length

In [ ]:
print(len(mno))

10

#loop for accss

In [ ]:
for x in mno:
  print(x,end=" ")

name parth is world Thank hello letsupgrade much so my

#membership for access

In [ ]:
print("parth" in mno)

True

#join set#

In [ ]:
pqr = {"new","item","created"}

xyz = mno.union(pqr)
print(xyz)

{'name', 'new', 'created', 'parth', 'is', 'world', 'item', 'Thank', 'hello', 'letsupgrade', 'much', 'so', 'my'}

#constructer

In [ ]:
setcre=(("combine","of","words"))
print(setcre)
print(type(setcre))
setcre=set(("combine","of","words"))
print(setcre)
print(type(setcre))

('combine', 'of', 'words')
<class 'tuple'>
{'words', 'combine', 'of'}
<class 'set'>

In [ ]:
a= mno.copy()
print(a)

{'name', 'parth', 'is', 'world', 'Thank', 'hello', 'letsupgrade', 'much', 'so', 'my'}

#difference

In [ ]:

a={1,2,3,4,5,6,7,8,9,9,10}

b={1,2,3,4,5,6,7,9}
z = a.difference(b)
print(sorted(z))

[8, 10]

#difference_update()#
#####The difference_update() method removes the items that exist in both sets#####

#####The difference_update() method is different from the difference() method
#####because #####
#####the difference() method returns a new **set**, without the unwanted items#####
#####difference_update() method removes the unwanted items from the original set#####

In [ ]:
b.difference_update(z)
print(b)
print(z)

{1, 2, 3, 4, 5, 6, 7, 9}
{8, 10}

#intersection()#
Return a set that contains the items that exist in both set x, and set y

In [ ]:
b= {1, 2, 3, 4, 5, 7, 9}
print(b)
print(a)
b.intersection(a)
print(b)

{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 7, 9}

#isdisjoint()#
it return when none of  both items are not present in sets

In [ ]:
print(b)
asi={88,99,66,77,44}
print(asi)
xs=b.isdisjoint(asi)
print(xs)
xsa=b.isdisjoint(a)
print(xsa)

{1, 2, 3, 4, 5, 7, 9}
{66, 99, 44, 77, 88}
True
False

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) 

print(z)

True

In [ ]:
print(a)
print(xs)
print(b)
print(mno)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
{1, 2, 3, 4, 5, 7, 9}
{'name', 'parth', 'is', 'world', 'Thank', 'hello', 'letsupgrade', 'much', 'so', 'my'}
True

#issubset#
returns True if all items in the set exists in the specified set

In [ ]:
x = {"h", "e", "l"}
y = {"h", "e", "l", "l", "o", "w"}

z = x.issubset(y) 

print(z)

True

#issuperset#
returns True if all items in the specified set exists in the original set

In [ ]:
y = {"h", "e", "l", "l", "o", "w"}
y = {"h", "e", "l"}

z = x.issuperset(y) 

print(z)

True

#symmetric_difference()#
####The returned set contains a mix of items that are not present in both sets####

In [ ]:
aax= {2,5,9,8,7,5,5,3,3,3,}
ssr= {2,4,6,2,5,6,3,4,5,55,4}
abz=aax.symmetric_difference(ssr)
print(abz)

{4, 7, 6, 55, 8, 9}

#symmetric_difference_update()#
####Remove the items that are present in both sets, AND insert the items that is not present in both sets:####

In [ ]:

print(aax)
print(ssr)
ssr.symmetric_difference_update(aax)
print(ssr)

{2, 3, 5, 7, 8, 9}
{2, 3, 4, 5, 6, 55}
{4, 6, 7, 8, 9, 55}

#union()# 
method returns a set that contains all items from the original set,
If an item is present in more than one set, the result will contain only one of this item

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

zccx = aax.union(ssr) 

print(zccx)

{2, 3, 4, 5, 6, 7, 8, 9, 55}

#Remove and delete

In [ ]:

#if the item does not exit , then also we try to exeute it will show errore 
mno.discard("much")
print(mno)
a=mno.pop()
print(a)
print(mno)

{'name', 'parth', 'is', 'world', 'Thank', 'hello', 'letsupgrade', 'so', 'my'}
name
{'parth', 'is', 'world', 'Thank', 'hello', 'letsupgrade', 'so', 'my'}

In [ ]:
mno.remove("world")
mno

{'Thank', 'hello', 'is', 'letsupgrade', 'my', 'parth', 'so'}

In [ ]:
mno

{'Thank', 'hello', 'is', 'letsupgrade', 'my', 'parth', 'so'}

In [ ]:
del mno

In [ ]:
mno
#it will show errror

NameError: ignored