In [ ]:
#Q1 
import re
email_id = input("Enter email addresses: ")
 
pat2 = "(\w+)@(\w+).(\w+)"
 
r2 = re.match(pat2,email_id)
 
print ("The user name is:   ",r2.group(1))
print ("The company name is:",r2.group(2))
print ("The domain name is: ",r2.group(3))

In [ ]:
#Q2 
print("Enter the words by giving comma(,)")
x=[x for x in input().split(',')]
print()
print("The word after sorting are :-",(",".join(sorted(x))))

Enter the words by giving comma(,)
2,2,6,7,9

The word after sorting are :- 2,2,6,7,9

Q3 is on another file no 6.2

In [ ]:
#Q4
x=[(int(x)) for x in input("Enter the number ").split()]
print("output")

for xa in range(max(x)):
  if xa >= 1: 
    if  xa not in x :
      
      print (xa)
      abc=xa
      print("explaniantion")
      print("In the above list of total  numbers ",abc," are missing and hence are ",abc," is the input")

In [30]:
#Q5
print("Enter the number by giving space")
abxc= [int(x) for x in input("enter the number ").split()]
list1= abxc
newlist = abxc.copy()
list2 = []
for n in list1:
	if n not in list2:
		list2.append(n)

list2.sort()
print ("Original list")
r = ' '.join([str(a) for a in newlist])
print ("list1: ", r)




r = ' '.join([str(a) for a in list2])
print ("List after removing duplicate elements and its sorted are ",r)

Enter the number by giving space
enter the number 12 24 35 24 88 120 155 88 120 155 2 5
Original list
list1:  12 24 35 24 88 120 155 88 120 155 2 5
List after removing duplicate elements and its sorted are  2 5 12 24 35 88 120 155