#Q1 
#complex number

In [3]:
#Q1
#Research on complex number

print("for doing the calculation in complex number enter number one by one  ")
print("Enter 1st number for Complex 1")
a= int(input ("Enter the number 1:"))
b= int(input ("Enter the number 2:"))
Complexno1=complex(a,b)
print("Complex number 1",Complexno1)


print("Enter 2nd number for Complex 2")
C= int(input ("Enter the number 1:"))
D= int(input ("Enter the number 2:"))
Complexno2= complex(C,D)
print("Complex number 2",Complexno2)


print("Please select option -\n")
print("1. addition, \n" )
print("2. subtraction, \n" )
print("3. multiplication,\n" )
print("4. division\n")
print("5. floor division\n")
print("6. modulo operations\n") 

# Take input from the user  
select = int(input("Select operations form 1, 2, 3, 4, 5, 6: ")) 
  


if select == 1: 
   Complexsum = Complexno1+Complexno2
   print("so Addition of complex number is, ",Complexsum,"\n")

elif select == 2: 
    Complexsum = Complexno1-Complexno2
    print("so substraction of complex number is ",Complexsum,"\n")

elif select == 3: 
    ABC = Complexno1*Complexno2
    print("so Multiplication of complex number is ",ABC,"\n")

elif select == 4: 
    Complexsum = Complexno1/Complexno2
    print("so Division of complex number is ",Complexsum,"\n")
 
elif select == 5:
    print("\n so floor division of complex number is not poosible" )
    print("Trying to use a complex number for floor division or modulo operations will raise a TypeError \n")

elif select == 6: 
    print("\n so  modulo operations of complex number is not poosible" )
    print("Trying to use a complex number for floor division or modulo operations will raise a TypeError \n") 

else: 
    print("Invalid input")

for doing the calculation in complex number enter number one by one
Enter 1st number for Complex 1
Enter the number 1:25
Enter the number 2:6
Complex number 1 (25+6j)
Enter 2nd number for Complex 2
Enter the number 1:6
Enter the number 2:3
Complex number 2 (6+3j)
Please select option -

1. addition,

2. subtraction,

3. multiplication,

4. division

5. floor division

6. modulo operations

Select operations form 1, 2, 3, 4, 5, 6: 6

 so  modulo operations of complex number is not poosible
Trying to use a complex number for floor division or modulo operations will raise a TypeError

#Q2 Ans
#Range simple# 
# New Section

In [ ]:
for x in range(0,6):
  print(x,end=" ")

# 2.1
#with 3 variant

In [19]:
for y in range(1,99,7):
  print("The value is",y,)

#2.2
##addition

In [ ]:
for x in range(2,200,2):
    print(x,end=" ") 
print(x)

In [ ]:
sum=0
for x in range(2,101):
    sum=x+sum
print(sum)

#2.3
#**In** (sub) negative number

In [ ]:
summ=0
for x in range(-15,0,2):
    print(x ,end="\n")
    summ=x+summ
print("The total of sum is ",summ)

#Q3 ans

In [21]:
#Q3
#Perform their subtraction and if the result of subtraction is greater than 25,
# printtheir multiplication result else print their division result.
a1= int(input("enter the number"))
a2= int(input("enter the number"))
c= a1-a2
print("The subtraction is ",c)

if c > 25:
  d=a1*a2
  print("The muliplication of number is",d)
else:
  e=a2/a1
  print("The division of number is",e)

enter the number22
enter the number22
The subtraction is  0
The division of number is 1.0

#Q4 ans

In [22]:
#Q4
#a list of 10 elements of integer values. If the number in the list is divisible
#by 2, print the result as"square of that number minus 2"
list= [40,51,62,53,45,65,16,17,38,29]
print("so list is",list)
for x in list:
  
  if x%2==0:
    print("The number divide by 2 is =",x)
    print("The number as square of number  is =",x*x)
    print("The number as square of number with subtract form 2 is =",x*x-2)

so list is [40, 51, 62, 53, 45, 65, 16, 17, 38, 29]
The number divide by 2 is = 40
The number as square of number  is = 1600
The number as square of number with subtract form 2 is = 1598
The number divide by 2 is = 62
The number as square of number  is = 3844
The number as square of number with subtract form 2 is = 3842
The number divide by 2 is = 16
The number as square of number  is = 256
The number as square of number with subtract form 2 is = 254
The number divide by 2 is = 38
The number as square of number  is = 1444
The number as square of number with subtract form 2 is = 1442

#Q5

In [23]:
#Q5
#a list of 10 elements. Print all the elements in the list which are greater 
#than 7 when that numberis divided 2.
list= [5,6,52,31,45,57,46,97,28,91]
for n in list:
  if n/2>7:
    print("the number are",n)

the number are 52
the number are 31
the number are 45
the number are 57
the number are 46
the number are 97
the number are 28
the number are 91